<header class="container">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark w-100">
        <div class="navbar-top">
            <button class="navbar-toggler" type="button" (click)="toggleMenu()" [class.open]="isMenuOpen" [attr.aria-expanded]="isMenuOpen"
                aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                </span>
            </button>
            <a class="navbar-brand" routerLink="/home">sujitgajare</a>
            <button class="btn btn-primary get-started-btn d-lg-none">
                <span routerLink="/contact">Get Started</span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"
            [class.show]="isMenuOpen">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary get-started-btn d-none d-lg-block">
            <span routerLink="/contact">Get Started</span>
        </button>
    </nav>
    <div class="nav-backdrop" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>

</header>