@import '../../../../styles.scss';

.about-section {
    background: #faf7f0;
    padding: 80px 0;
    color: $primary-green;

    h2 {
        font-family: $heading-font;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    p.lead {
        color: #555;
        max-width: 700px;
        margin: 0 auto 3rem;
        font-size: 1rem;
        line-height: 1.6;
    }

    .about-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .about-image-wrap {
        position: relative;
        max-width: 600px;
        width: 100%;

        img {
            box-shadow: 10px 10px 0px 0px $primary-golden;
            border-top-left-radius: 50px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 50px;
        }
    }

    .about-text {
        max-width: 500px;
        text-align: left;

        h3 {
            font-family: $heading-font;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            color: #555;
            line-height: 1.6;
        }

        .read-more-btn {
            background-color: $primary-golden;
            color: white;
            border: none;
            padding: 16px 40px;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 40px;
            cursor: pointer;
            display: inline-block;
            box-shadow: 0 6px 0 rgba(0, 0, 0, 0.06);
            margin-top: 24px;
        }

        .read-more-btn:hover {
            background-color: darken($primary-golden, 10%);
        }
    }
}