@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* You can add global styles to this file, and also import other style files */
$background-offwhite: #faf7f0;
$primary-green: #07312e;
$primary-golden: #d08e3d;
$primary-text-font: 'Inter', sans-serif;
$heading-font: 'IBM Plex Serif', serif;
$button-font: 'Poppins', sans-serif;

body {
    background-color: $background-offwhite;
}