@import "@fontsource/ibm-plex-serif/index.css";


/* You can add global styles to this file, and also import other style files */
$background-offwhite: #faf7f0;
$primary-green: #07312e;
$primary-golden: #d08e3d;
$primary-text-font: 'Inter', sans-serif;
$heading-font: 'IBM Plex Serif', serif;
$button-font: 'Poppins', sans-serif;

body {
    background-color: $background-offwhite;
}