<main class="d-flex justify-content-equal align-items-center container homepage-bg">
    <div class="left-section">
        <span>Expert Frontend Solutions</span>

        <h1>Your Trusted Frontend Developer Partner</h1>

        <p>With 4+ years of experience in scalable web applications, we prioritize performance and accessibility in
            every project. Your success is our commitment.</p>
        <div class="button-wrapper">
            <button class="get-started-btn homepage-btn">Get Started</button>
        </div>
    </div>
    <div class="right-section">
        <img src="assets/homepage-img.jpg" alt="Homepage Image" class="img-fluid">
    </div>

</main>
<app-services />
<app-about />
<app-why-us />
<app-testimonials />
<app-about-me />